nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 400;
  
    @media (max-width:768px) {
      font-size:1em;
    }
  
    header {
      font-family: 'Bitter', sans-serif;
      font-size: 2em;
      text-align: center;
      text-transform: uppercase;
  
      @media (max-width:768px) {
        font-size:1.5em;
      }
    }
  
    .links {
      display: flex;
      flex-direction: row;
      justify-content: center;
  
      @media (max-width:768px) {
        flex-direction: column;
        align-items: center;
      }
  
      a {
        text-decoration: none;
        color: black;
        margin: 0em 1em 0em 1em;
      }
    }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }